@tailwind base;
@tailwind components;
@tailwind utilities;

/*  Pretendard 폰트 적용 */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/*  Scrollbar 스타일링 */
@layer utilities {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-green-800 rounded-full;
  }

  .text-balance {
    text-wrap: balance;
  }

  .border-border {
    border-color: hsl(var(--border));
  }
}

/*  FullCalendar 스타일링 최적화 */
@layer components {
  /* FullCalendar Toolbar */
  .fc .fc-toolbar-ltr {
    @apply m-0;
  }

  /* FullCalendar 버튼 스타일 */
  .fc .fc-button-group .fc-button-active,
  .fc .fc-button-primary,
  .fc .fc-nextReservation-button {
    @apply bg-white border-none text-black font-semibold;
  }

  .fc .fc-button-primary {
    @apply rounded-lg text-2xl hover:bg-white hover:text-black active:bg-white active:text-black focus:bg-white focus:text-black focus:outline-none;
  }

  .fc .fc-nextReservation-button {
    @apply text-base rounded-lg hover:bg-white hover:text-black active:bg-white active:text-black focus:bg-white focus:text-black;
  }

  /* 숨김 버튼 처리 */
  .fc-button:empty {
    @apply hidden;
  }

  /* 헤더와 캘린더 사이 여백 제거 */
  .fc-toolbar {
    @apply mb-0 !important;
  }

  /* Slot 높이 조절절 */
  .fc .fc-timegrid-slot {
    @apply h-[4] text-sm;
  }

  /* FullCalendar Background Colors */
  .fc .fc-scrollgrid-sync-inner,
  .fc .fc-timegrid-axis,
  .fc .fc-timegrid-slot-lane {
    @apply bg-[#F2F8ED];
  }

  /* FullCalendar Previous/Next 버튼 크기 조정 */
  .fc .fc-prev-button,
  .fc .fc-next-button {
    @apply text-sm;
  }
}

/*  글로벌 스타일 */
@layer base {
  html {
    font-family: "Pretendard-Regular", sans-serif;
  }
}

.image-selector {
  @apply cursor-pointer w-36 h-36 rounded-full border border-gray-300 flex flex-col items-center justify-center bg-gray-100 relative overflow-hidden;
}

.image-selector-background {
  @apply absolute inset-0 bg-[length:20px_20px] bg-[linear-gradient(45deg,#e0e0e0_25%,transparent_25%),linear-gradient(-45deg,#e0e0e0_25%,transparent_25%),linear-gradient(45deg,transparent_75%,#e0e0e0_75%),linear-gradient(-45deg,transparent_75%,#e0e0e0_75%)];
}

.image-selector-content {
  @apply relative z-10 flex flex-col items-center;
}

.image-selector-icon {
  @apply text-gray-600 text-3xl;
}

.image-selector-text {
  @apply text-gray-600 text-sm;
}

.input-content {
  @apply focus:outline-none cursor-pointer w-full p-2 bg-[#fff] border border-[#D1D1D1] text-[#3A3A3A] focus:bg-[#F2F8ED] focus:border-[#B4D89C] rounded-md text-sm;
}
.square {
  @apply flex flex-col items-center justify-center bg-white border rounded-lg w-[80px] h-[70px];
}
